<div class="col-md-8 m-auto d-flex flex-column justify-content-between">
  <div
    style="font-family: 'Roboto Mono', monospace"
    class="d-flex justify-content-between p-3"
  >
    <li class="">
      <a class="text-a" href="#skills">Skills</a>
    </li>
    <li class="">
      <a class="text-a" href="#projects">Projects</a>
    </li>
    <li c>
      <a class="text-a" href="#contact">Contact</a>
    </li>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div style="width: 100%" class="p-3">
      <p
        class="col-sm-8"
        style="
          font-family: 'Roboto Mono', monospace;
          color: #309543;
          font-weight: bold;
        "
      >
        Hi, my name is
      </p>
      <h2 style="color: #cccccc">Rajakumar</h2>
      <h2 style="color: #309543">Front-End Developer</h2>
      <div class="col-md-8">
        <p style="color: #cccccc">
          I have a Bachelor's degree majored in Electronics and Communication
          Engineering. Currently I am focused on learning JavaScript Full Stack
          Web Development.
          <br />
          I loved to build products that can be used by millions of people.
        </p>
        <div
          style="
            font-family: 'Roboto Mono', monospace;
            font-weight: bold;
            color: #309543;
          "
        >
          Open for Work & Collaboration.
        </div>
        <div class="mt-3">
          <div class="p-2 checkout-button">Check out My Skills !</div>
        </div>
      </div>
    </div>
    <div
      class="d-none d-sm-block d-sm-none d-md-block"
      style="width: 60%; background-color: aliceblue; min-height: 400px"
    ></div>
    <i class="fa-brands fa-linkedin"></i>
  </div>
  <ul
    class="d-flex gap-4 col-md-6"
    style="width: fit-content; padding-left: 16px"
  >
    <li class="d-flex justify-center items-center">
      <a href="https://www.linkedin.com/in/rajakumarsaravanan/" target="_blank">
        <fa-icon class="social-profile" [icon]="faIcons.linkedIn"></fa-icon>
      </a>
    </li>
    <li class="d-flex justify-center items-center">
      <a href="https://www.linkedin.com/in/rajakumarsaravanan/" target="_blank">
        <fa-icon class="social-profile" [icon]="faIcons.github"></fa-icon>
      </a>
    </li>
    <li class="d-flex justify-center items-center">
      <a href="https://www.linkedin.com/in/rajakumarsaravanan/" target="_blank">
        <fa-icon class="social-profile" [icon]="faIcons.twitter"></fa-icon>
      </a>
    </li>
    <li class="d-flex justify-center items-center">
      <a href="https://www.linkedin.com/in/rajakumarsaravanan/" target="_blank">
        <fa-icon class="social-profile" [icon]="faIcons.instagram"></fa-icon>
      </a>
    </li>
    <li class="d-flex justify-center items-center">
      <a href="https://www.linkedin.com/in/rajakumarsaravanan/" target="_blank">
        <fa-icon class="social-profile" [icon]="faIcons.email"></fa-icon>
      </a>
    </li>
  </ul>
  <section id="skills">
    <div class="col-md-8 d-flex flex-row" style="width: 100%;">
        <div class="dropdown-divider dividers"></div>
        <h2 style="width: 100%; text-align: center; color: whitesmoke;">Tech Stack</h2>
        <div class="dropdown-divider dividers"></div>
    </div>
  </section>
</div>
