.skills-icons{
  width: fit-content;
}

.skills-icons p {
  font-size: 14px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: whitesmoke;
}

img {
  width: 84px;
  height: 84px;
}
